@media (max-width: 979px) {
    .navbar-fixed-top {
        margin-bottom: 0px;
    }
    .slide {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
@media (max-width: 767px) {
    .big-title {
        font-size: 150%;
    }
    #content {
        margin-left: -20px;
        margin-right: 20px;
    }
    #content>div {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width: 400px) {
    .big-title {
        font-size: 130%;
    }
}
