/* Pour la navbar-fixed-top */
body {
    padding-top: 85px;
    text-align: justify;
}
#home, #kezako, #kezako-rss, #komen-sa-marche, #lorem, #install-at-home {
    padding-left:5px;
    padding-right:5px;
}
#framanews-nav {
    font-size: 12px;
}
#framanews-nav .navbar-fixed-top {
    top: 45px;
}
#framanews-nav .navbar-fixed-top .navbar-inner {
    /*box-shadow: 0 8px 10px -10px rgba(0, 0, 0, 0.1);*/
    box-shadow:none;
    /*background-image: linear-gradient(to bottom, #F2F2F2, #ECE2FF);*/
    background: #ECE2FF;
    border:none;
}
/*
 * Slide d'accueil
 */
#home {
    background-color: #ECE2FF;
    padding-top: 200px;
    padding-bottom: 150px;
}
#manchot {
    padding-right:70px;
}
.big-title {
    font-size: 200%;
    font-family:fantasy;
}
.frama, .news {
    text-shadow: 3px 3px 3px #888;
}
.frama {
    color: blue;
}
.news {
    color: orange;
}
#btn-ttrss {
    margin-top: 50px;
}

/*
 * Framanews ? C'est quoi ça ?
 */
#kezako {
    background-color: #C8A6A6;
    padding-top: 150px;
    padding-bottom: 175px;
}
.rotateY {
    width: 35%;
    margin-top: -10px;
    perspective: 350px;
    -o-perspective: 350px;
    -ms-perspective: 350px;
    -webkit-perspective: 350px;
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.rotateY img {
    transform: rotateY(25deg);
    -o-transform: rotateY(25deg);
    -ms-transform: rotateY(25deg);
    -webkit-transform: rotateY(25deg);
    transition: all 0.4s ease-in-out 0s;
    box-shadow: 10px 10px 5px #888888;
}
.rotateY img:hover {
    transform:scale(2,2) translate(90px, 30px);
    box-shadow: none;
}

/*
 * C'est quoi un flux RSS ?
 */
#kezako-rss {
    background-color: #EDFFB5;
    padding-top: 150px;
    padding-bottom: 175px;
}
#rss-symbol {
    margin-top: 40px;
    animation: RssSpin 7s infinite;
    -webkit-animation: RssSpin 7s infinite;
    animation-direction:alternate;
    -webkit-animation-direction:alternate;
}
@keyframes RssSpin {
    from { transform: rotate(0deg); }
    to { transform: rotate(1080deg); }
}
@-webkit-keyframes RssSpin {
    from { transform: rotate(0deg); }
    to { transform: rotate(1080deg); }
}
/*
 * Comment ça marche ?
 */
#komen-sa-marche {
    background-color: #ECE2FF;
    padding-top: 400px;
    padding-bottom: 350px;
}
/*
 * Lorem ipsum
 */
#lorem {
    background-color: #2FF;
    padding-top: 400px;
    padding-bottom: 350px;
}
/*
 * Et pour l'installer chez moi ?
 */
#install-at-home {
    background-color: #ECE;
    padding-top: 400px;
    padding-bottom: 350px;
}
