/* Pour la navbar-fixed-top */
body {
    padding-top: 85px;
}
#framanews-nav {
    font-size: 12px;
}
#framanews-nav .navbar-fixed-top {
    top: 45px;
}
#framanews-nav .navbar-fixed-top .navbar-inner {
    box-shadow:none;
    background: #ECE2FF;
    border:none;
}
#NB-RSS {
    padding-top: 80px;
}
.slide {
    padding-top: 150px;
    padding-bottom: 175px;
}
/*
 * Slide d'accueil
 */
#home {
    background-color: #ECE2FF;
    padding-top: 200px;
    padding-bottom: 200px;
}
#manchot {
    padding-right:70px;
}
.big-title {
    font-family:fantasy;
}
.visible-desktop .big-title {
    font-size: 200%;
}
.hidden-desktop .big-title {
    font-size: 150%;
}
.frama, .news {
    text-shadow: 3px 3px 3px #888;
}
.frama {
    color: blue;
}
.news {
    color: orange;
}
#btn-ttrss {
    margin-top: 50px;
}

/*
 * Framanews ? C'est quoi ça ?
 */
#kezako {
    background-color: #C8A6A6;
}
.rotateY {
    width: 35%;
    margin-top: -10px;
    perspective: 350px;
    -o-perspective: 350px;
    -ms-perspective: 350px;
    -webkit-perspective: 350px;
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.rotateY img {
    transform: rotateY(25deg);
    -o-transform: rotateY(25deg);
    -ms-transform: rotateY(25deg);
    -webkit-transform: rotateY(25deg);
    transition: all 0.4s ease-in-out 0s;
    box-shadow: 10px 10px 5px #888888;
}
.rotateY img:hover {
    transform:scale(2,2) translate(90px, 30px);
    -o-transform:scale(2,2) translate(90px, 30px);
    -ms-transform:scale(2,2) translate(90px, 30px);
    -webkit-transform:scale(2,2) translate(90px, 30px);
    box-shadow: none;
}

/*
 * C'est quoi un flux RSS ?
 */
#kezako-rss {
    background-color: #EDFFB5;
}
#rss-symbol {
    margin: 0 0 5px 20px;
    animation: RssSpin 7s infinite;
    -webkit-animation: RssSpin 7s infinite;
    animation-direction:alternate;
    -webkit-animation-direction:alternate;
}
@keyframes RssSpin {
    from { transform: rotate(0deg); }
    to { transform: rotate(1080deg); }
}
@-webkit-keyframes RssSpin {
    from { transform: rotate(0deg); }
    to { transform: rotate(1080deg); }
}
/*
 * Comment ça marche ?
 */
#komen-sa-marche {
    background-color: #ECE2FF;
}
/*
 * La framarticle_toolbar
 */
#framarticle_toolbar {
    background-color: #63D322;
}
/*
 * Mobilité
 */
#mobilite {
    background-color: #E2B63D;
}

.rotateY-right {
    width: 35%;
    margin-top: -10px;
    perspective: 350px;
    -o-perspective: 350px;
    -ms-perspective: 350px;
    -webkit-perspective: 350px;
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.rotateY-right img {
    transform: rotateY(-25deg);
    -o-transform: rotateY(-25deg);
    -ms-transform: rotateY(-25deg);
    -webkit-transform: rotateY(-25deg);
    transition: all 0.4s ease-in-out 0s;
    box-shadow: 10px 10px 5px #888888;
}
.rotateY-right img:hover {
    transform:scale(2,2) translate(-90px, 30px);
    -o-transform:scale(2,2) translate(-90px, 30px);
    -ms-transform:scale(2,2) translate(-90px, 30px);
    -webkit-transform:scale(2,2) translate(-90px, 30px);
    box-shadow: none;
}
/*
 * FAQ
 */
#faq {
    background-color: #ECE;
}
